{% extends 'blog/base.html' %}

{% block content %}
    <h2>New post</h2>
    <form method="POST" enctype="multipart/form-data" class="post-form">
        {% csrf_token %}
        <p>
            {{ form.title.label_tag }} {{ form.title }}
        </p>
        <p>
            {{ form.text.label_tag }} {{ form.text }}
        </p>
        <p>
            {{ form.image.label_tag }} {{ form.image }}
        </p>
        <p>
            {{ form.image2.label_tag }} {{ form.image2 }}
        </p>

        <button type="submit" class="btn btn-secondary">Save</button>
    </form>
{% endblock %}