{% extends 'blog/base.html' %}

{% block content %}
<article class="post">
    <aside class="actions">
        {% if user.is_authenticated %}
            <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
                {% include './icons/pencil-fill.svg' %}
            </a>
        {% endif %}
    </aside>

    {% if post.published_date %}
        <time class="date">
            {{ post.published_date }}
        </time>
    {% endif %}
    <h2>{{ post.title }}</h2>

<div class="post-images">
    {% if post.image %}
        <img src="{{ post.image.url }}" class="post-image">
    {% endif %}

    {% if post.image2 %}
        <img src="{{ post.image2.url }}" class="post-image post-image-right">
    {% endif %}
</div>


    <p>{{ post.text|linebreaksbr }}</p>
</article>
{% endblock %}