{% extends "blog/base.html" %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <time class="date">
                <aside class="actions">
                    <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
                        {% include './icons/pencil-fill.svg' %}
                    </a>
                </aside>

                <time class="date">
                    {{ post.published_date }}
                </time>
            </time>
            <h2>{{ post.title }}</h2>
            {% if post.image %}
                <img src="{{ post.image.url }}" class="post-image" alt="{{ post.title|default:'Blog image' }}">
            {% endif %}
            {% if post.image2 %}
                <img src="{{ post.image2.url }}" class="post-image post-image-right" alt="{{ post.title|default:'Blog image' }}">
            {% endif %}
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
{% endblock %}
            

